<section class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>
        Tạo khoá học
    </h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-dialog-actions>
</section>

<mat-dialog-content>
    <mat-tab-group>
        <mat-tab label="Thông tin chung"> 
            <div class="row-image">
                <h3>Ảnh bìa</h3>

            </div>
            <div class="row-name-couse" fxLayout="row" fxLayoutAlign="space-between center">
                <h3>Tên</h3>
                <mat-form-field fxFlex="80">
                    <input type="text" matInput [formControl]="nameCourseFormControl" placeholder="Tên khoá học">
                    <mat-error *ngIf="nameCourseFormControl.hasError('required')">
                        Tên is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row-category-couse" fxLayout="row" fxLayoutAlign="space-between center">
                <h3>Danh mục</h3>
                <mat-form-field fxFlex="80">
                    <mat-select [(value)]="selectedCategory">
                        <mat-option *ngFor="let category of listCategory" [value]="category.id">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row-note-couse" fxLayout="row" fxLayoutAlign="space-between center">
                <h3>Mô tả khoá học</h3>
                <mat-form-field fxFlex="80">
                    <textarea type="text" matInput placeholder="Mô tả cho khoá học"></textarea>
                </mat-form-field>
            </div>
            <div class="row-status-couse" fxLayout="row" fxLayoutAlign="space-between center">
                <h3>Trạng thái</h3>
                <mat-form-field fxFlex="80">
                    <mat-select [(value)]="selectedStatus">
                        <mat-option *ngFor="let status of listStatus" [value]="status.key">
                            {{status.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-tab>
        <mat-tab label="Nội dung"> 
            Content 2 
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>

