<section class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>
        Thêm tài khoản giảng viên
    </h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-dialog-actions>
</section>
<section class="dialog-content">
    <form [formGroup]="createAccForm">
        <div class="row-name-acc" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Họ tên</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="username"
                type="text" 
                matInput 
                placeholder="Tên người dùng">
                <mat-error *ngIf="createAccForm.get('username')?.hasError('required') && createAccForm.get('username')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-email" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Email</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="email"
                type="email" 
                matInput 
                placeholder="Địa chỉ email">
                <mat-error *ngIf="createAccForm.get('email')?.hasError('required') && createAccForm.get('email')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-phone" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Số điện thoại</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input
                    formControlName="phone"
                    type="text" 
                    matInput 
                    placeholder="Số điện thoại">
                    <mat-error *ngIf="createAccForm.get('phone')?.hasError('required') && createAccForm.get('phone')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-password" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Mật khẩu</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="password"
                type="password" 
                matInput 
                placeholder="Mật khẩu tài khoản">
                <mat-error *ngIf="createAccForm.get('password')?.hasError('required') && createAccForm.get('password')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-password" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Trạng thái</h3>
            <mat-slide-toggle
                formControlName="isActivate"
                name="isActivate"
                fxFlex="80"
                [color]="'primary'">
                Kích hoạt
            </mat-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <button (click)="onCancel()" mat-button class="btn-cancel">
                <span>Huỷ</span>
            </button>
            <button 
            [disabled]="createAccForm.invalid"
            [mat-dialog-close]="createAccForm.value"
            type="submit" 
            mat-button 
            class="codex-btn-primary btn-big btn-add-acc">
                <span>Thêm tài khoản</span>
            </button>
        </div>
    </form>
    
    
</section>