::ng-deep .mat-dialog-container {
  width: 640px;
  height: 484px;
  border-radius: 10px;
  padding: 40px;
}
.dialog-header {
  margin: 0 0 24px;
}
mat-dialog-actions {
  margin: 0;
  padding: 0;
  min-height: 32px;
}
.dialog-header h2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
}
.dialog-content .btn-cancel {
  color: var(--color-primary);
  width: 80px;
}
.dialog-content .btn-add-acc {
  width: 180px;
}
