<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm khoá học, danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<section class="course-learning">
    <h3>Đang học</h3>
    <p *ngIf="listCourseLearning.length === 0">Chưa có khoá học nào</p>
    <app-course-item-student
    [isCourseStudent]="true"
    [courses]="listCourseLearning"
    ></app-course-item-student>
</section>
<section class="course-finished">
    <h3>Đã hoàn thành</h3>
    <p *ngIf="listCourseLearned.length === 0">Chưa có khoá học nào</p>
    <app-course-item-student
    [courses]="listCourseLearned"
    ></app-course-item-student>
</section>