
backend/.idea
backend/.idea/workspace.xml
backend/backend.rar
backend/target
backend/.target
*.class
*.xml
frontend/src/assets/.DS_Store
frontend/src/assets/icons/.DS_Store
frontend/src/assets/images/.DS_Store
*.DS_Store