/* section topbar */
.search-bar mat-form-field {
  width: 100%;
}
.search-bar mat-icon {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}
.btn-signup {
  width: 116px;
}
.btn-login {
  margin-left: 8px;
  width: 173px;
}
.btn-login mat-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
