
<mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-dialog-actions>
    <!-- tab bar -->
    <div class="content-container">
        <h2>Cập nhật khoá học</h2>
        <tabset class="tabset-parent">
            <tab heading="Thông tin chung">
                <!-- tab infomation of course -->
                <div class="tab-thong-tin-chung ">
                    <div class="header-tab">
                        <h3>Thông tin chung</h3>
                    </div>
                    <form [formGroup]="formInforCourse">
                        <div class="row-image" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Ảnh bìa</h3>
                            <div fxFlex="80" >
                                <!-- <button mat-button class="btn-add-image">
                                    <mat-icon svgIcon="add-primary"></mat-icon>
                                </button> -->
                                <input formControlName="imgCover" type="file" title=" " (change)="onSelectImg($event)">
                                <div class="container-img">
                                    <mat-icon svgIcon="add-primary"></mat-icon>
                                    <img mat-card-image [src]="urlImg">
                                </div>
                            </div>
                        </div>
                        <div class="row-name-couse" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Tên</h3>
                            <mat-form-field fxFlex="80" appearance="outline">
                                <input type="text" matInput formControlName="nameCourse" placeholder="Tên khoá học">
                                <mat-error *ngIf="formInforCourse.get('nameCourse')?.hasError('required')">
                                    Tên is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row-category-couse" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Danh mục</h3>
                            <div fxFlex="80" fxLayout="row" fxLayoutAlign="space-between start">
                                <mat-form-field  appearance="outline" fxFlex="66">
                                    <mat-label>Chọn danh mục</mat-label>
                                    <mat-select formControlName="idCategory">
                                        <mat-option *ngFor="let category of listCategory" [value]="category.id">
                                            {{category.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button type="button" (click)="openCategory()" mat-button class="codex-btn-secondary btn-big btn-add">
                                    Tạo danh mục
                                </button>
                            </div>
                        </div>
                        <div class="row-level-couse" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Mức độ</h3>
                            <mat-form-field fxFlex="80" appearance="outline">
                                <mat-label>Chọn mức độ</mat-label>
                                <mat-select formControlName="level">
                                    <mat-option *ngFor="let level of listLevel" [value]="level.id">
                                        {{level.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="row-note-couse" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Mô tả khoá học</h3>
                            <mat-form-field fxFlex="80" appearance="outline">
                                <textarea formControlName="description" type="text" matInput placeholder="Mô tả cho khoá học"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="row-status-couse" fxLayout="row" fxLayoutAlign="space-between center">
                            <h3>Trạng thái</h3>
                            <mat-form-field fxFlex="80" appearance="outline">
                                <mat-label>Chọn trạng thái</mat-label>
                                <mat-select formControlName="status">
                                    <mat-option *ngFor="let status of listStatus" [value]="status.key">
                                        {{status.value}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </tab>

            <tab heading="Nội dung">
                <div class="tab-content-course">
                    <div class="header-tab">
                        <h3>Nội dung</h3>
                    </div>
                    <div class="containter-content-tab">
                        <button type="button" class="btn codex-btn-add-section" (click)="addTabSection()">
                            Thêm phần
                        </button>
                        <!-- tabset section of course -->
                        <tabset class="tabset-section">
                            <tab *ngFor="let tabSection of tabSections"
                                [heading]="tabSection.title"
                                [active]="tabSection.active"
                                (selectTab)="tabSection.active"
                                (deselect)="tabSection.active = false"
                                [disabled]="tabSection.disabled"
                                [removable]="tabSection.removable"
                                (removed)="removeTabSection(tabSection)"
                                [customClass]="tabSection.customClass">
                                <!-- {{tabSection?.content}} -->
                                <!-- form content of section -->
                                <div class="name-section" fxLayout="row" fxLayoutAlign="space-between center">
                                    <h3>Tên phần</h3>
                                    <mat-form-field fxFlex="80" appearance="outline">
                                        <input 
                                        [(ngModel)]="tabSection.nameSection" 
                                        required
                                        type="text" 
                                        matInput 
                                        placeholder="Tên phần">
                                        <!-- <mat-error *ngIf="nameCourseFormControl.hasError('required')">
                                            Tên is <strong>required</strong>
                                        </mat-error> -->
                                    </mat-form-field>
                                </div>
                                <div class="content-section">
                                    <h4>Bài học</h4>
                                    <button type="button" class="btn codex-btn-add-lesson" (click)="addTabLesson(tabSection)">
                                        Thêm bài
                                    </button>
                                    <!-- tabset lesson of section -->
                                    <tabset class="tabset-lesson">
                                        <tab *ngFor="let tabLesson of tabSection.lessons"
                                            [heading]="tabLesson.title"
                                            [active]="tabLesson.active"
                                            (selectTab)="tabLesson.active"
                                            (deselect)="tabLesson.active = false"
                                            [disabled]="tabLesson.disabled"
                                            [removable]="tabLesson.removable"
                                            (removed)="removeTabLesson(tabLesson, tabSection)"
                                            [customClass]="tabLesson.customClass">
                                            <!-- {{tabLesson?.content}} -->
                                            <!-- form content of lesson -->
                                            <div class="name-lesson">
                                                <mat-form-field appearance="outline" fxFlex="100">
                                                    <mat-label>Tên bài</mat-label>
                                                    <input 
                                                    [(ngModel)]="tabLesson.nameLesson" 
                                                    required
                                                    type="text" 
                                                    matInput 
                                                    placeholder="Tên bài">
                                                </mat-form-field>
                                            </div>
                                            
                                            <div class="content-lesson">
                                                <h4>
                                                    Nội dung bài học
                                                </h4>
                                                <div class="btn-group" btnRadioGroup [(ngModel)]="radioModel">
                                                    <label 
                                                        class="btn codex-btn-radio" 
                                                        btnRadio="Video" 
                                                        style="margin-right: 8px;">
                                                        Video
                                                    </label>
                                                    <!-- <label 
                                                        class="btn codex-btn-radio" 
                                                        btnRadio="Test">
                                                        Bài kiểm tra
                                                    </label> -->
                                                </div>
                                                <!-- content video -->
                                                <div class="container-content-video" *ngIf="radioModel === 'Video'" fxLayout="column">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>URL video</mat-label>
                                                        <input 
                                                        [(ngModel)]="tabLesson.urlVideo" 
                                                        required
                                                        type="text" 
                                                        matInput 
                                                        placeholder="URL video">
                                                    </mat-form-field>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Tổng quan</mat-label>
                                                        <textarea 
                                                            required
                                                            [(ngModel)]="tabLesson.description" 
                                                            matInput 
                                                            placeholder="Tổng quan">
                                                        </textarea>
                                                    </mat-form-field>
                                                </div>
                                                <!-- content test -->
                                                <!-- <div class="container-content-test" *ngIf="radioModel === 'Test'" fxLayout="column">
                                                    <mat-form-field appearance="outline">
                                                        <mat-select >
                                                            <mat-option *ngFor="let category of listCategory" [value]="category.idCategory">
                                                                {{category.nameCategory}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>Tổng quan</mat-label>
                                                        <textarea matInput placeholder="Tổng quan"></textarea>
                                                    </mat-form-field>
                                                </div> -->
                                            </div> 
                                            <!-- end form content of lesson -->
                                        </tab>
                                    </tabset>
                                </div>
                                <!-- end form content of section -->
                            </tab>
                        </tabset>
                    </div>
                    <!-- button actions -->
                    <div class="container-btn-actions" fxLayout="row" fxLayoutAlign="end center">
                        <button (click)="onCancel()" mat-button class="codex-btn-ghost btn-cancel">
                            <span>Huỷ</span>
                        </button>
                        <button 
                        (click)="updateCourse()"
                        type="submit" 
                        mat-button 
                        class="codex-btn-primary btn-big btn-add-course">
                            <span>Lưu</span>
                        </button>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</mat-dialog-content>

