<app-topbar-unregistered></app-topbar-unregistered>
<div class="page-conent">
    <carousel  [isAnimated]="true">
        <slide>
            <img src="assets/images/banner-1.png" alt="first slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3>Bắt đầu với Codex Academy</h3>
                <p>Từng bước đơn giản nhưng hiệu quả. Học tập với Codex Academy ngay hôm nay!</p>
                <button 
                    (click)="openSignup()"
                    mat-button 
                    class="btn-big codex-btn-ghost btn-action-signup">
                    Đăng ký ngay
                </button>
            </div>
        </slide>
        <slide>
            <img src="assets/images/banner-1.png" alt="second slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="heading1">Thiết kế trên đa thiết bị</h3>
                <p class="heading3 carousel-body">Là một dev phát triển web thì trách nhiệm của bạn sẽ phải đồng bộ hoá thiết kế của mình trên rất nhiều loại thiết bị.</p>
                <button 
                    (click)="openSignup()"
                    mat-button 
                    class="btn-big codex-btn-ghost btn-action-signup">
                    Đăng ký ngay
                </button>
            </div>
        </slide>
        <slide>
            <img src="assets/images/banner-1.png" alt="third slide" style="display: block; width: 100%;">
            <div class="carousel-caption d-none d-md-block">
                <h3 class="heading1">TypeScript miễn phí</h3>
                <p class="heading3 carousel-body">Ở Codex Academy, bạn sẽ được học TypeScript một cách bài bản từ cơ bản tới nâng cao mà chẳng hề mất một xu.</p>
                <button 
                    (click)="openSignup()"
                    mat-button 
                    class="btn-big codex-btn-ghost btn-action-signup">
                    Đăng ký ngay
                </button>
            </div>
        </slide>
    </carousel>
    <section class="course-new">
        <h3 class="heading2">Khoá học mới</h3>
        <app-course-item-student
        [courses]="getCourseNew()"
        ></app-course-item-student>
    </section>
    <section class="course-popular">
        <h3 class="heading2">Khoá học nổi bật</h3>
        <app-course-item-student
        [courses]="getCoursePopular()"
        ></app-course-item-student>
    </section>
</div>
