<app-topbar-unregistered></app-topbar-unregistered>
<carousel  [isAnimated]="true">
    <slide>
        <div class="carousel-bg carousel1"  alt="first slide"></div>
        <div class="carousel-caption d-none d-md-block">
            <h3 class="heading1">Bắt đầu với Codex Academy</h3>
            <p class="heading3 carousel-body">Từng bước đơn giản nhưng hiệu quả. Học tập với Codex Academy ngay hôm nay!</p>
            <button mat-button class="btn-big button codex-btn-ghost btn-action-signup">Đăng ký ngay</button>
        </div>
    </slide>
    <slide>
        <div class="carousel-bg carousel2" alt="second slide"></div>
        <div class="carousel-caption d-none d-md-block">
            <h3 class="heading1">Thiết kế trên đa thiết bị</h3>
            <p class="heading3 carousel-body">Là một dev phát triển web thì trách nhiệm của bạn sẽ phải đồng bộ hoá thiết kế của mình trên rất nhiều loại thiết bị,</p>
            <button mat-button class="btn-big button codex-btn-ghost btn-action-signup">Chi tiết khoá học</button>
        </div>
    </slide>
    <!-- <slide>
        <img src="assets/images/banner-1.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button mat-button class="btn-big codex-btn-ghost btn-action-signup">Đăng ký ngay</button>
        </div>
    </slide> -->
</carousel>
<section class="course-new">
    <h3 class="heading2">Khoá học mới</h3>
    <app-course-item-student></app-course-item-student>
</section>
<section class="course-popular">
    <h3>Khoá học nổi bật</h3>
    <app-course-item-student></app-course-item-student>
</section>