<app-topbar-unregistered></app-topbar-unregistered>
<section class="content">
    <h3>Về chúng tôi</h3>
    <img src="assets/images/banner-about-us.png" alt="about-us">
    <p class="text-intro">
        Codex Academy là dự án tốt nghiệp của bọn mình tại học viện Công nghệ Bưu chính Viễn thông. Codex Academy là một ứng dụng học tập trực tuyến giúp mọi người có thể học tập một cách dễ dàng và tiện lợi. Các khoá học được chuẩn bị kĩ lưỡng và bài bản cho bạn một lộ trình học tập hoàn chỉnh và tin cậy.
    </p>
    <div class="div-teacher">
        <h4 >Giảng viên phụ trách</h4>
        <p >Tiến Sĩ Vũ Hữu Tiến</p>
    </div>

    <div class="div-student">
        <h4 >Sinh viên thực hiện</h4>
        <p >Đào Minh Đức</p>
        <p >Nguyễn Thị Ngọc Bích</p>
    </div>
    
    <p class="copy-right">© 2021 Codex Academy. Các hình ảnh sử dụng có thể có bản quyền.</p>
</section>
