<app-topbar-unregistered></app-topbar-unregistered>
<section class="content">
    <h2 class="heading2">Về chúng tôi</h2>
    <img src="assets/images/banner-about-us.png" alt="about-us">
    <p class="text-intro body">
        Codex Academy là dự án tốt nghiệp của bọn mình tại học viện Công nghệ Bưu chính Viễn thông. Codex Academy là một ứng dụng giúp mọi người có thể học code trực tuyến một cách dễ dàng và tiện lợi. Các khoá học được chuẩn bị kĩ lương và bài bản cho bạn một lộ trình học tập hoàn chỉnh và tin cậy.
    </p>
    <div class="teacher">
        <p class="title body">Giảng viên phụ trách</p>
        <p class="name body">Tiến Sĩ Vũ Hữu Tiến</p>
    </div>

    <div class="student">
        <p class="title body">Sinh viên thực hiện</p>
        <p class="name body" >Đào Minh Đức</p>
        <p class="name body">Nguyễn Thị Ngọc Bích</p>
    </div>
    
    <p class="copy-right overline">© 2021 Codex Academy. Các hình ảnh sử dụng có thể có bản quyền.</p>
</section>
