.content {
  margin: 104px 40px 0px 40px;
}

.content img {
  width: 100%;
}
.text-intro {
  width: 700px;
  color: var(--color-black1);
  margin-top: 16px;
}

.teacher,
.student {
  margin: 16px 0;
  color: var(--color-black2);
}

.title {
  margin:0;
}
.name {
  margin:0;
  font-weight: 700 !important;
}

.copy-right {
  color: var(--color-black3);
}
