mat-drawer-content {
  height: 200px;
  background: #fff;
}
mat-drawer {
  border: unset;
}
mat-drawer h3 {
  margin-bottom: 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.sidebar {
  width: 160px;
}
mat-nav-list a.active::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 24px;
  background: var(--color-primary);
  position: absolute;
  top: calc(50% - 24px / 2);
}
mat-nav-list a.active {
  color: var(--color-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
