<mat-drawer-container>
    <mat-drawer mode="side" opened>
        <!-- side bar category -->
        <h3>Danh mục</h3>
        <mat-nav-list class="sidebar">
            <a mat-list-item [routerLink]= "['/courses/category-item/2']" routerLinkActive="active">
                <span class="nav-caption">HTML & CSS</span>
            </a>
            <a mat-list-item routerLink="/courses/category-item/1" routerLinkActive="active">
                <span class="nav-caption">JavaScript</span>
            </a>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
