<div class="container-login" fxLayout="row" fxLayoutAlign="center center">
  <section class="side-bar">
  </section>
  <section class="card-login" fxLayout="column">
    <div class="form-login">
      <h2>Đăng nhập</h2>
      <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="outline" class="form-field-email">
          <mat-label>Email</mat-label>
          <input 
          type="email" 
          matInput 
          placeholder="Địa chỉ email" 
          formControlName="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Nhập địa chỉ email!</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Địa chỉ email không hợp lệ!</mat-error>
        </mat-form-field>
        <div class="row-password" fxLayout="row" fxLayoutAlign="space-between start">
          <mat-form-field appearance="outline" hintLabel="Dài hơn 6 ký tự">
            <mat-label>Mật khẩu</mat-label>
            <input
            [type]="showPassword ? 'text':'password'" 
            matInput 
            placeholder="Mật khẩu" 
            formControlName="password">
            <mat-hint align="end">{{ loginForm.get('password')?.value.length }} / 6</mat-hint>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Nhập mật khẩu!</mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Mật khẩu chứa tối thiểu 6 ký tự!</mat-error>
          </mat-form-field>
          <mat-icon *ngIf="!showPassword; else openEye"
            svgIcon="eye-off"
            (click)="togglePassword()">
          </mat-icon>
          <ng-template #openEye>
            <mat-icon
              svgIcon="eye"
              (click)="togglePassword()">
            </mat-icon>
          </ng-template>
        </div>
        
        <button (click)="onLogin()" mat-button class="codex-btn-primary btn-big">Đăng nhập</button>
      </form>
      <p class="dang-nhap">
          Bạn chưa có tài khoản? <a mat-button (click)="openDialogSignup()">Đăng ký</a>
      </p>
    </div>
</section>


</div>

