.container-signup {
  height: 100%;
  justify-content: space-between !important;
  /* background: url("/assets/images/bg.png") top center / cover no-repeat; */
  /* background-color: #605eff; */
}
.side-bar {
  width: 150px;
  height: 553px;
  background: url("/assets/images/Sidebar.png") top center / cover no-repeat;
  border-radius: 10px 0 0 10px;
}
.card-login {
  height: 553px;
  width: 528px;
  background: #ffffff;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login {
  width: 100%;
}
.form-login h2 {
  width: 80%;
  margin: 0 auto 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
}
.form-field-email,
.form-field-name,
.row-password {
  width: 80%;
}
.row-password mat-form-field {
  width: 90%;
}
.row-password mat-icon {
  margin: 16px 0;
}
button {
  width: 80%;
  margin-top: 16px;
}
.dang-nhap {
  width: 80%;
  margin: auto;
  text-align: center;
  color: var(--color-black3);
}
.dang-nhap a {
  color: #605eff;
  padding: 0;
}

/* css open dialog  login */
::ng-deep .dialogSignup > mat-dialog-container {
  padding: 0;
  border-radius: 10px;
}
