.container-signup {
  height: 100%;
  /* background: url("/assets/images/bg.png") top center / cover no-repeat; */
  background-color: #605eff;
}
.side-bar {
  width: 150px;
  height: 65%;
  background: url("/assets/images/Sidebar.png") top center / cover no-repeat;
  border-radius: 10px 0 0 10px;
}
.card-login {
  height: 65%;
  width: 528px;
  background: #ffffff;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-login {
  width: 100%;
}
.form-login h2 {
  width: 80%;
  margin: 0 auto 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
}
mat-form-field {
  width: 80%;
}
button {
  width: 80%;
  margin: 16px 0;
}
.dang-nhap {
  width: 80%;
  margin: auto;
  text-align: center;
}
.dang-nhap a {
  color: #605eff;
  padding: 0;
}
