<div class="container-signup" fxLayout="row" fxLayoutAlign="center center">
    <section class="side-bar">
    </section>
    <section class="card-login">
        <div class="form-login">
            <h2>Bắt đầu miễn phí ngay!</h2>
            <form [formGroup]="signUpForm" fxLayout="column" fxLayoutAlign="center center">
                <mat-form-field appearance="outline">
                    <mat-label>Họ tên</mat-label>
                    <input 
                    type="text" 
                    matInput 
                    placeholder="Họ tên của bạn" 
                    formControlName="name">
                    <mat-error *ngIf="!signUpForm.get('name')?.hasError('required')">Nhập họ tên của bạn!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input 
                    type="email"
                    matInput 
                    placeholder="Địa chỉ email" 
                    formControlName="email">
                    <mat-error *ngIf="signUpForm.get('email')?.hasError('required')">Nhập email của bạn!</mat-error>
                    <mat-error *ngIf="signUpForm.get('email')?.hasError('email')">Email không hợp lệ!</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" hintLabel="Dài hơn 6 ký tự">
                    <mat-label>Mật khẩu</mat-label>
                    <input 
                    type="password" 
                    matInput 
                    placeholder="Mật khẩu" 
                    formControlName="password">
                    <mat-hint align="end">{{ signUpForm.get('password')?.value?.length }} / 6</mat-hint>
                    <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">Nhập email của bạn!</mat-error>
                    <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">Mật khẩu chứa tối thiểu 6 ký tự!</mat-error>
                </mat-form-field>
                <button (click)="OnSignUp()" class="codex-btn-primary btn-big" mat-button>Đăng ký</button>
            </form>
            <p class="dang-nhap">
                Đã là thành viên? <a mat-button routerLink="/login">Đăng nhập</a>
            </p>
        </div>
    </section>
</div>