
<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm khoá học, danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<section class="content">
    <mat-tab-group>
        <mat-tab label="Tất cả"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a mat-list-item [routerLink]= "['/home/courses/all']" routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a mat-list-item [routerLink]= "['/home/courses/2']" routerLinkActive="active">
                            <span class="nav-caption">HTML & CSS</span>
                        </a>
                        <a mat-list-item routerLink="/home/courses/3" routerLinkActive="active">
                            <span class="nav-caption">JavaScript</span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <app-course-category-item></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Công khai"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a mat-list-item [routerLink]= "['/home/courses/all']" routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a mat-list-item [routerLink]= "['/home/courses/2']" routerLinkActive="active">
                            <span class="nav-caption">HTML & CSS</span>
                        </a>
                        <a mat-list-item routerLink="/home/courses/3" routerLinkActive="active">
                            <span class="nav-caption">JavaScript</span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <app-course-category-item></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Chưa công khai"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a mat-list-item [routerLink]= "['/home/courses/all']" routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a mat-list-item [routerLink]= "['/home/courses/2']" routerLinkActive="active">
                            <span class="nav-caption">HTML & CSS</span>
                        </a>
                        <a mat-list-item routerLink="/home/courses/3" routerLinkActive="active">
                            <span class="nav-caption">JavaScript</span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <app-course-category-item></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
    </mat-tab-group>
    <button (click)="dialogAddCourse()" mat-button class="codex-btn-primary btn-big btn-add-course">
        <mat-icon svgIcon="add"></mat-icon>
        <span>Tạo Khoá học</span>
    </button>
</section>