/* section topbar */
.search-bar mat-form-field {
  width: 100%;
}
.search-bar mat-icon {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}
/* ========================== */
/* section content */
.content {
  position: relative;
  margin-top: 24px;
}
.content .btn-add-course {
  width: 198px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  top: 0;
  position: absolute;
  right: 0;
  z-index: 10;
}
.content .btn-add-course mat-icon {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.content app-all-course {
  height: 100%;
  padding: 16px 0;
  display: block;
}
::ng-deep.mat-tab-header {
  border: none;
}
::ng-deep.mat-tab-label-active {
  color: var(--color-primary);
}
::ng-deep.mat-tab-body-content {
  overflow: hidden !important;
}
/* ========================== */
/* section sidebar category */
mat-drawer-container {
  height: 100%;
}
mat-drawer-content {
  background: #fff;
  margin-left: 160px;
  min-height: 500px;
}
mat-drawer {
  border: unset;
}
mat-drawer h3 {
  margin: 24px 0 16px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}
.sidebar {
  width: 160px;
}
mat-nav-list a.active::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 24px;
  background: var(--color-primary);
  position: absolute;
  top: calc(50% - 24px / 2);
}
mat-nav-list a.active {
  color: var(--color-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
