
<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput (input)="doFilter($event.target)" placeholder="Tìm kiếm khoá học…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<section class="content">
    <mat-tab-group>
        <mat-tab label="Tất cả"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a 
                        mat-list-item 
                        [routerLink]= "['/home/courses']" 
                        [queryParams]="{category: 'all'}"
                        routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a *ngFor="let category of listCategory" 
                            mat-list-item 
                            [routerLink]="['/home', 'courses']" 
                            [queryParams]="{category: category.name}"
                            routerLinkActive="active">
                            <span class="nav-caption">
                                {{category.name}}
                            </span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <p class="no-data" *ngIf="listCourseAll.length === 0">Chưa có khoá học nào!</p>
                    <app-course-category-item
                    *ngIf="listCourseAll.length > 0"
                    [courses]="listCourseAll"
                    ></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Công khai"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a 
                        mat-list-item 
                        [routerLink]= "['/home/courses']" 
                        [queryParams]="{category: 'all'}"
                        routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a *ngFor="let category of listCategory" 
                            mat-list-item 
                            [routerLink]="['/home', 'courses', category.name]" 
                            [queryParams]="{category: category.name}"
                            routerLinkActive="active">
                            <span class="nav-caption">
                                {{category.name}}
                            </span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <p class="no-data" *ngIf="listCoursePublic.length === 0">Chưa có khoá học nào!</p>
                    <app-course-category-item
                    *ngIf="listCoursePublic.length > 0"
                    [courses]="listCoursePublic"
                    ></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
        <mat-tab label="Chưa công khai"> 
            <mat-drawer-container>
                <mat-drawer mode="side" opened>
                    <!-- side bar category -->
                    <h3>Danh mục</h3>
                    <mat-nav-list class="sidebar">
                        <a 
                        mat-list-item 
                        [routerLink]= "['/home/courses']" 
                        [queryParams]="{category: 'all'}"
                        routerLinkActive="active">
                            <span class="nav-caption">Tất cả</span>
                        </a>
                        <a *ngFor="let category of listCategory" 
                            mat-list-item 
                            [routerLink]="['/home', 'courses', category.name]" 
                            [queryParams]="{category: category.name}"
                            routerLinkActive="active">
                            <span class="nav-caption">
                                {{category.name}}
                            </span>
                        </a>
                    </mat-nav-list>
                </mat-drawer>
                <mat-drawer-content>
                    <p class="no-data" *ngIf="listCoursePrivate.length === 0">Chưa có khoá học nào!</p>
                    <app-course-category-item
                    *ngIf="listCoursePrivate.length > 0"
                    [courses]="listCoursePrivate"
                    ></app-course-category-item>
                </mat-drawer-content>
            </mat-drawer-container>
        </mat-tab>
    </mat-tab-group>
    <button (click)="dialogAddCourse()" mat-button class="codex-btn-primary btn-big btn-add-course">
        <mat-icon svgIcon="add"></mat-icon>
        <span>Tạo Khoá học</span>
    </button>
</section>