.card-account .avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.card-account .info h3,
.card-account .info p {
  margin: 0;
}
.menu-setting-acc {
  width: 220px;
}
.name {
  color: var(--color-black1);
}
.email {
  color: var(--color-black3);
}

.card-account .arrow-down {
  width: 13px;
  height: 45px;
  margin-left: 18px;
}
.card-account .mat-button {
  text-align: left;
  padding: 8px 16px;
}
::ng-deep .menu-setting-acc .mat-menu-content:not(:empty) {
  padding: 0 !important;
}
::ng-deep .menu-setting-acc .mat-menu-content button:hover {
  background: var(--color-secondary) !important;
}
