<div class="row-course" fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="card-course" *ngFor="let course of courses">
        <div class="codex-tag codex-tag-new">
            <span>Mới</span> 
        </div>

        <div class="codex-tag codex-tag-hot">
            <span>Hot</span> 
        </div>
        
        <div>
            <button mat-button class="btn-more" [matMenuTriggerFor]="beforeMenu">
                <mat-icon svgIcon="3-dot-white"></mat-icon>
            </button>
            <mat-menu class="menu-option" #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item (click)="updateCourse(course)">
                    <mat-icon svgIcon="edit"></mat-icon>
                    <span>Chi tiết</span> 
                </button>
                <button mat-menu-item (click)="deleteCourse(course.idCourse)">
                    <mat-icon svgIcon="trash"></mat-icon>
                    <span>Xoá</span> 
                </button>
            </mat-menu>
        </div>

        <div class="div-img">
            <img [src]="'/assets/images/img-cover-course.png'" alt="">
        </div>
        <div class="card-course-title" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" class="name-course" fxLayoutAlign="space-between center">
                <!-- public -->
                <mat-icon *ngIf="course.status" svgIcon="public-status"></mat-icon>
                <!-- private -->
                <mat-icon *ngIf="!course.status" svgIcon="private-status"></mat-icon>
                <h3>{{course.nameCourse}}</h3>
            </div>
            
            <div fxLayout="row" class="subs-course" fxLayoutAlign="space-between center">
                <p>265</p>
                <mat-icon svgIcon="subscribe"></mat-icon>
            </div>
        </div>
        <div class="card-course-level" fxLayout="row" fxLayoutAlign="start center">
            <!-- basic -->
            <mat-icon *ngIf="course.level === 1" svgIcon="level-basic"></mat-icon>
            <h3 *ngIf="course.level === 1">Cơ bản</h3>
            <!-- advanced -->
            <mat-icon *ngIf="course.level === 2" svgIcon="level-advanced"></mat-icon>
            <h3 *ngIf="course.level === 2">Nâng cao</h3>
            <!-- Chưa xác định level -->
            <h3 *ngIf="course.level !== 2 && course.level !== 1">Chưa xác định</h3>
        </div>
    </div>
</div>
