.row-course {
}
.card-course {
  margin: 12px;
  position: relative;
}
.card-course .div-img {
  min-width: 283px;
  min-height: 158px;
}
.card-course .btn-more {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 8px;
  min-width: 24px;
}
.menu-option .cdk-overlay-pane {
  padding: 0;
}
.card-course-title .name-course h3 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.87);
  letter-spacing: 0.2px;
}
.card-course-title .subs-course p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  padding-right: 5px;
}
.card-course-title .subs-course mat-icon {
  width: 13px;
  height: 13px;
}
.card-course-level h3 {
  margin: 0 0 0 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2px;
  text-transform: uppercase;
}
.card-course-level {
  height: 24px;
}
