<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<section class="content">
    <div class="header-content" fxLayout="row" fxLayoutAlign="space-between center">
        <h3>Danh sách danh mục</h3>
        <button (click)="addQuestion()" mat-button class="codex-btn-primary btn-big btn-add-question">
            <mat-icon svgIcon="add"></mat-icon>
            <span>Tạo Câu hỏi</span>
        </button>
    </div>

    <mat-table [dataSource]="dataSource" matSort>
        <!-- stt Column -->
        <ng-container matColumnDef="stt">
          <mat-header-cell *matHeaderCellDef>Stt</mat-header-cell>
          <mat-cell *matCellDef="let element">
                {{element.stt}}
            </mat-cell>
        </ng-container>
    
        <!-- Name account Column -->
        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Danh mục</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.nameCategory}}</mat-cell>
        </ng-container>
    
        <!-- email Column -->
        <ng-container matColumnDef="course">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Khoá học</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.courses.length}}</mat-cell>
        </ng-container>
    
        <!-- sdt Column -->
        <ng-container matColumnDef="content">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Tiêu đề câu hỏi</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
        </ng-container>

        <!-- action column -->
        <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div>
                    <button mat-button class="btn-more" [matMenuTriggerFor]="beforeMenu">
                        <mat-icon svgIcon="3-dot-activate"></mat-icon>
                    </button>
                    <mat-menu class="menu-option" #beforeMenu="matMenu" xPosition="before">
                        <button mat-menu-item (click)="updateQuestion(element)">
                            <mat-icon svgIcon="edit"></mat-icon>
                            <span>Chi tiết</span> 
                        </button>

                        <button mat-menu-item (click)="deleteQuestion(element)">
                            <mat-icon svgIcon="trash"></mat-icon>
                            <span>Xoá</span> 
                        </button>
                    </mat-menu>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator 
        #paginatorAll
        [pageSize]="10"
        [pageSizeOptions]="[1, 5, 10, 20]">
    </mat-paginator>
</section>
