<button mat-button class="btn-course" (click)="routerCourseDetail()">
    <div class="row-course" fxLayout="row wrap" fxLayoutAlign="start center">
        <div class="card-course">
            <div class="codex-tag codex-tag-new">
                <span>Mới</span> 
            </div>
            <div class="codex-tag codex-tag-hot">
                <span>Hot</span> 
            </div>
            <div class="div-img">
                <img src="/assets/images/img-cover-course.png" alt="">
                <!-- process tag -->
                <div class="div-tag-process codex-progress-learning">
                    <span>Đang học - Bài 9/24</span>
                </div>
                <!-- <div class="div-tag-finished codex-progess-completed">
                    <span>Đã hoàn thành</span>
                </div> -->
            </div>
            <div class="card-course-title" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" class="name-course" fxLayoutAlign="space-between center">
                    <h3>name course</h3>
                </div>
                <div fxLayout="row" class="subs-course" fxLayoutAlign="space-between center">
                    <p>265</p>
                    <mat-icon svgIcon="subscribe"></mat-icon>
                </div>
            </div>
            <div class="card-course-level" fxLayout="row" fxLayoutAlign="start center">
                <!-- basic -->
                <mat-icon svgIcon="level-basic"></mat-icon>
                <!-- advanced -->
                <!-- <mat-icon svgIcon="level-advanced"></mat-icon> -->
                <h3>Cơ bản</h3>
            </div>
            
        </div>
    </div>
</button>