<div class="row-course" fxLayout="row wrap" fxLayoutAlign="start center">
    <button *ngFor="let course of courses" mat-button class="btn-course" (click)="routerCourseDetail(course.id)">
        <div class="card-course">
            <div class="codex-tag codex-tag-new">
                <span>Mới</span> 
            </div>
            <div class="codex-tag codex-tag-hot">
                <span>Hot</span> 
            </div>
            <div class="div-img">
                <img [src]="course.imgCover" alt="">
                <!-- process tag -->
                <!-- <div class="div-tag-process codex-progress-learning">
                    <span>Đang học - Bài 9/24</span>
                </div> -->
                <!-- <div class="div-tag-finished codex-progess-completed">
                    <span>Đã hoàn thành</span>
                </div> -->
            </div>
            <div class="card-course-title" fxLayout="row" fxLayoutAlign="space-between center">
                <div fxLayout="row" class="name-course" fxLayoutAlign="space-between center">
                    <h3>{{course?.name}}</h3>
                </div>
                <div fxLayout="row" class="subs-course" fxLayoutAlign="space-between center">
                    <p>{{course?.subscriberNumber == null ? 0 : course?.subscriberNumber}}</p>
                    <mat-icon svgIcon="subscribe"></mat-icon>
                </div>
            </div>
            <div class="card-course-level" fxLayout="row" fxLayoutAlign="start center">
                <!-- basic -->
                <mat-icon *ngIf="course?.level === 1" svgIcon="level-basic"></mat-icon>
                <h3 *ngIf="course?.level === 1">Cơ bản</h3>
                <!-- advanced -->
                <mat-icon *ngIf="course?.level === 2" svgIcon="level-advanced"></mat-icon>
                <h3 *ngIf="course?.level === 2">Nâng cao</h3>
                <!-- Chưa xác định level -->
                <h3 *ngIf="course?.level !== 2 && course?.level !== 1">Chưa xác định</h3>
            </div>
            
        </div>
    </button>
</div>