<section class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>
        Thông tin tài khoản
    </h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-dialog-actions>
</section>
<section class="dialog-content">
    <form [formGroup]="updateAccForm">
        <div class="row-name-acc" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Họ tên</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="fullName"
                type="text" 
                matInput 
                placeholder="Tên người dùng">
                <mat-error *ngIf="updateAccForm.get('fullName')?.hasError('required') && updateAccForm.get('fullName')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-email" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Email</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="email"
                type="email" 
                matInput 
                placeholder="Địa chỉ email">
                <mat-error *ngIf="updateAccForm.get('email')?.hasError('required') && updateAccForm.get('email')?.touched">Đây là trường bắt buộc</mat-error>
                <mat-error *ngIf="updateAccForm.get('email')?.invalid && updateAccForm.get('email')?.value.length > 0">Địa chỉ email không hợp lệ!</mat-error>
            </mat-form-field>
        </div>
        <div class="row-phone" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Số điện thoại</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input
                    formControlName="phone"
                    type="text" 
                    matInput 
                    placeholder="Số điện thoại">
                <mat-error *ngIf="updateAccForm.get('phone')?.hasError('required') && updateAccForm.get('phone')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        <div class="row-role" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Chức vụ</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input
                    formControlName="role"
                    type="text" 
                    matInput 
                    placeholder="Chức vụ">
            </mat-form-field>
        </div>
        <div class="row-status" fxLayout="row" fxLayoutAlign="space-between center">
            <h3>Trạng thái</h3>
            <mat-slide-toggle
                formControlName="isActivate"
                fxFlex="80"
                [color]="'primary'">
                Kích hoạt
            </mat-slide-toggle>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
            <button (click)="onCancel()" mat-button class="btn-cancel">
                <span>Huỷ</span>
            </button>
            <button 
            [mat-dialog-close]="data.account"
            type="submit" 
            (click)="updateAccount()"
            [disabled]="updateAccForm.invalid"
            mat-button 
            class="codex-btn-primary btn-big btn-add-acc">
                <span>Cập nhật</span>
            </button>
        </div>
    </form>
    
    
</section>