::ng-deep .mat-dialog-container {
  border-radius: 10px;
  padding: 40px;
}
.dialog-header {
  margin: 0 0 24px;
}
.dialog-header button {
  display: flex;
  justify-content: end;
  padding: 0;
  min-width: 20px;
}
.dialog-header button mat-icon {
  width: 20px;
  height: 20px;
}
mat-dialog-actions {
  margin: 0;
  padding: 0;
  min-height: 32px;
}
.dialog-header h2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.87);
}
.dialog-content .btn-cancel {
  color: var(--color-primary);
  width: 80px;
}
.dialog-content .btn-add-acc {
  width: 180px;
}
::ng-deep .mat-form-field-wrapper {
  padding: 0 0 16px;
  margin: 0;
}
