/* You can add global styles to this file, and also import other style files */

body,
html {
  height: 100%;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  font-family: "Raleway", sans-serif !important;
}
body {
  margin: 0;
}
/* ==========Component button============ */
button.btn-big {
  height: 48px;
}
button.btn-small {
  height: 32px;
}
/* primary */
button.codex-btn-primary {
  background: var(--color-primary);
  border-radius: 24px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
button.codex-btn-primary:hover {
  background: #5654e5;
}
button.codex-btn-primary.mat-button-disabled {
  background: #605eff;
  opacity: 0.2;
  color: #ffffff !important;
}
/* secondary */
button.codex-btn-secondary {
  background: var(--color-secondary);
  border-radius: 24px;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
button.codex-btn-secondary:hover {
  background: #dcdce6;
}
button.codex-btn-secondary.mat-button-disabled {
  background: #f0f0fa;
  opacity: 0.2;
  color: var(--color-primary) !important;
}
/* danger */
button.codex-btn-danger {
  background: var(--color-danger);
  border-radius: 24px;
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  height: 48px;
}
button.codex-btn.danger:hover {
  background: #e55344;
}
/* ghost */
button.codex-btn-ghost {
  background: #ffffff;
  border-radius: 24px;
  color: var(--color-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}
button.codex-btn-ghost:hover {
  background: var(--color-secondary);
}
/* ====================================== */

/* ==========Tag component============ */
.codex-tag {
  border-radius: 4px;
  width: 40px;
  height: 24px;
  color: #fff;
  padding: 3px 8px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}
.codex-tag-new {
  background: var(--color-primary);
}
.codex-tag-hot {
  background: var(--color-danger);
}
/* =============== Progress component ======================= */
.codex-progress-learning {
  background: rgba(255, 206, 107, 0.8);
  border-radius: 4px;
  color: #593b00;
  height: 24px;
}
.codex-progess-completed {
  background: rgba(160, 255, 126, 0.8);
  border-radius: 4px;
  color: #0b5900;
  height: 24px;
}
/* ====================== */

/* =============== Course tab component ======================= */
.codex-course-tab {
  height: 52px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.codex-course-tab p {
  margin: 0;
  padding: 0 8px;
}
.codex-course-tab-active {
  background: #f0f0fa;
  color: var(--color-primary);
}

.codex-course-tab-active::before {
  content: "";
  width: 4px;
  height: 52px;
  display: inline-block;
  background: var(--color-primary);
  position: absolute;
  left: 0;
}
.codex-course-tab-default {
  color: rgba(0, 0, 0, 0.6);
}
/* ====================== */

:root {
  --color-primary: #605eff;
  --color-secondary: #f0f0fa;
  --color-background: #f0f0fa;
  --color-danger: #ff5c4d;
  --color-success: #58d446;
  --color-pending: #ffbc36;
}
