<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm khoá học, danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<carousel  [isAnimated]="true">
    <slide>
        <img src="assets/images/banner-student-1.png" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Thiết kế trên đa thiết bị</h3>
            <p>Là một dev phát triển web thì trách nhiệm của bạn sẽ phải đồng bộ hoá thiết kế của mình trên rất nhiều loại thiết bị</p>
            <button mat-button class="btn-big codex-btn-ghost btn-action-signup">Chi tiết khoá học</button>
        </div>
    </slide>
    <slide>
        <img src="assets/images/banner-student-1.png" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <button mat-button class="btn-big codex-btn-ghost btn-action-signup">Chi tiết khoá học</button>
        </div>
    </slide>
    <slide>
        <img src="assets/images/banner-student-1.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            <button mat-button class="btn-big codex-btn-ghost btn-action-signup">Chi tiết khoá học</button>
        </div>
    </slide>
</carousel>
<section class="course-learning">
    <h3>Đang học</h3>
</section>
<section class="course-new">
    <h3>Khoá học mới</h3>
</section>