/* section topbar */
.search-bar mat-form-field {
  width: 100%;
}
.search-bar mat-icon {
  width: 20px;
  height: 20px;
  margin-right: 14px;
}
/* ========================== */
/* carousel */
carousel img {
  border-radius: 10px;
}
carousel .btn-action-signup {
  width: 163px;
  position: absolute;
  bottom: 10%;
}
.carousel-caption {
  top: 12%;
  padding: 0;
  left: 6%;
}
.carousel-caption h3 {
  margin-bottom: 8px;
}
::ng-deep .carousel-caption {
  text-align: left;
  bottom: 24px;
}
::ng-deep .carousel-control-next,
::ng-deep .carousel-control-prev {
  width: 5% !important;
}
/* end carousel */
