<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm khoá học, danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>

<section class="header">
    <button (click)="backPrevious()" mat-button class="btn-big btn-back">
        <mat-icon svgIcon="back"></mat-icon>
        <span>Trở lại</span>
    </button>
</section>
<section class="container-content" fxLayout="row" fxLayoutAlign="space-between start">
    <!-- structure-course -->
    <div class="container-structure-course" fxFlex="70">
        <h2>
            {{courseSelected.name}}
        </h2>
        <p>
            {{courseSelected.description}}
        </p>
        <h3>
            Nội dung khoá học
        </h3>
        <div *ngFor="let section of courseSelected.sections; index as i" class="section-collapse">
            <!-- collapse section  -->
            <button type="button" class="btn btn-collapse-section" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                <span class="name-section">
                    <mat-icon *ngIf="!isCollapsed" svgIcon="close-collapse"></mat-icon>
                    <mat-icon *ngIf="isCollapsed" svgIcon="expand-collapse"></mat-icon>
                    Phần {{i+1}}: {{section.name}}
                </span>
                <span class="number-lesson">{{section.lessons?.length}} bài học</span>
            </button>
            <div class="container-content-section" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
                <p *ngFor="let lesson of section.lessons; index as i">
                    <mat-icon svgIcon="lesson-video"></mat-icon>
                    <span>{{i+1}}. {{lesson.name}}</span>
                </p>
                <!-- <p>
                    <mat-icon svgIcon="lesson-test"></mat-icon>
                    <span>Bài kiểm tra 1</span>
                </p> -->
            </div>
            <!-- end collapse section  -->
        </div>
    </div>
    <!-- sidebar left -->
    <div class="sidebar-left" fxFlex="30">
        <img src="/assets/images/img-cover-course.png" alt="">
        <div class="container-info-course" fxLayout="row" fxLayoutAlign="start">
            <div class="title-info" fxFlex="30">
                <p>Danh mục:</p>
                <p>Mức độ:</p>
                <p>Giảng viên:</p>
                <p>Số học viên:</p>
                <p>Số phần:</p>
                <p>Số bài học: </p>
            </div>
            <div class="content-info">
                <p>{{courseSelected?.categories![0].name}}</p>
                <div>
                    <!-- basic -->
                    <mat-icon *ngIf="courseSelected?.level === 1" svgIcon="level-basic"></mat-icon>
                    <p *ngIf="courseSelected?.level === 1">Cơ bản</p>
                    <!-- advanced -->
                    <mat-icon *ngIf="courseSelected?.level === 2" svgIcon="level-advanced"></mat-icon>
                    <p *ngIf="courseSelected?.level === 2">Nâng cao</p>
                </div>
                <p>{{teacher.fullName}}</p>
                <p>{{courseSelected?.subscriberNumber === null ? 0 : courseSelected?.subscriberNumber}}</p>
                <p>{{courseSelected.sections?.length}}</p>
                <p>{{getTotalLesson()}}</p>
            </div>
        </div>
        <mat-progress-bar *ngIf="isProgressEnroll" mode="indeterminate"></mat-progress-bar>
        
        <button (click)="enrollmentCourse()" mat-button class="codex-btn-primary btn-big btn-enrollment">
            Tham gia học
        </button>
    </div>
</section>