<section class="header" fxLayout="row" fxLayoutAlign="start center">
    <button (click)="backPrevious()" mat-button class="btn-big btn-back">
        <mat-icon svgIcon="close"></mat-icon>
        <span>Thoát</span>
    </button>
    <h3>{{courseSelected?.name}}</h3>
</section>
<section class="content">
    <div>
        <div fxLayout="row" fxLayoutAlign="space-between start" 
        class="container-lesson">
            <div class="content-video" fxFlex="80">
                <div class="video">
                    <iframe 
                        height="600px" 
                        width="100%" 
                        frameborder="0" 
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                        allowfullscreen
                        [src]="lessonSelected?.urlSafeResourse">
                    </iframe>
                </div>
                <div class="info-lesson">
                    <h2>{{lessonSelected?.name}}</h2>
                    <p>{{lessonSelected?.description}}</p>
                </div>
                <div class="info-course-title">
                    <h2>{{courseSelected?.name}}</h2>
                    <p>{{courseSelected?.description}}</p>
                </div>
                <div class="info-course" fxLayout="row" fxLayoutAlign="start center">
                    <div class="title-info">
                        <p>Danh mục:</p>
                        <p>Mức độ:</p>
                        <p>Giảng viên:</p>
                        <p>Số học viên:</p>
                        <p>Số phần:</p>
                        <p>Số bài học: </p>
                    </div>
                    <div class="content-info">
                        <p *ngIf="!!courseSelected.categories">{{courseSelected?.categories![0].name}}</p>
                        <div>
                            <mat-icon *ngIf="courseSelected?.level === 1" svgIcon="level-basic"></mat-icon>
                            <p *ngIf="courseSelected?.level === 1">Cơ bản</p>
                            <mat-icon *ngIf="courseSelected?.level === 2" svgIcon="level-advanced"></mat-icon>
                            <p *ngIf="courseSelected?.level === 2">Nâng cao</p>
                        </div>
                        <p>{{teacher.fullName}}</p>
                        <p>{{courseSelected?.subscriberNumber === null ? 0 : courseSelected?.subscriberNumber}}</p>
                        <p>{{courseSelected.sections?.length}}</p>
                        <p>{{getTotalLesson()}}</p>
                    </div>
                </div>
            </div>
            <div class="sidebar-section" fxFlex="20">
                <div class="section-collapse" *ngFor="let section of courseSelected?.sections; index as i">
                    <!-- collapse section  -->
                    <button type="button" class="btn btn-collapse-section" (click)="isCollapsed = !isCollapsed"
                    [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                        <span class="name-section">
                            <mat-icon *ngIf="!isCollapsed" svgIcon="close-collapse"></mat-icon>
                            <mat-icon *ngIf="isCollapsed" svgIcon="expand-collapse"></mat-icon>
                            Phần {{i+1}}: {{section.name}}
                        </span>
                    </button>
                    <div 
                    *ngFor="let lesson of section?.lessons; index as i"
                    fxLayout="column" 
                    class="container-content-section" 
                    id="collapseBasic" 
                    [collapse]="isCollapsed" 
                    [isAnimated]="true">
                        <button 
                        mat-button 
                        [ngClass]="{
                                'btn-lesson-selected': lesson?.isChecked === true
                            }"
                        (click)="markLessonPass(lesson)">
                            <mat-icon 
                            svgIcon="checked"
                            *ngIf="checkLessonPass(lesson)"
                            ></mat-icon>
                            <mat-icon 
                            svgIcon="circle" 
                            *ngIf="!checkLessonPass(lesson)"></mat-icon>
                            <span>{{i+1}}. {{lesson.name}}</span>
                        </button>
                    </div>
                    <!-- end collapse section  -->
                </div>
            </div>
        </div>
    </div>
</section>
