<section class="topbar" fxLayout="row" fxLayoutAlign="space-between center">
    <!-- search bar -->
    <div class="search-bar" fxFlex="60" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon svgIcon="search"></mat-icon>
        <mat-form-field >
            <input type="text" matInput placeholder="Tìm kiếm khoá học, danh mục,…">
        </mat-form-field>
    </div>
    <!-- info personal -->
    <app-personal-info></app-personal-info>
</section>
<section class="section-category">
    <mat-drawer-container>
        <mat-drawer mode="side" opened>
            <!-- side bar category -->
            <h3>Danh mục</h3>
            <mat-nav-list class="sidebar">
                <a mat-list-item routerLink="/home/all-course-student/all" routerLinkActive="active">
                    <span class="nav-caption">Tất cả</span>
                </a>
                <a *ngFor="let category of listCategory" 
                    mat-list-item 
                    [routerLink]="['/home', 'all-course-student', category.id]" 
                    routerLinkActive="active">
                    <span class="nav-caption">
                        {{category.name}}
                    </span>
                </a>
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div class="description-category">
                <p>
                    HTML là nền tảng của tất cả các trang web. Nó xác định cấu trúc của một trang, trong khi CSS xác định phong cách của nó. HTML và CSS là sự khởi đầu của mọi thứ bạn cần biết để tạo trang web đầu tiên của mình! Tìm hiểu cả hai và bắt đầu tạo các trang web tuyệt vời.
                </p>
            </div>
            <app-course-item-student></app-course-item-student>
        </mat-drawer-content>
    </mat-drawer-container>
</section>