<section class="dialog-header" fxLayout="row" fxLayoutAlign="space-between center">
    <h2>
        Tạo danh mục
    </h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>
            <mat-icon svgIcon="close"></mat-icon>
        </button>
    </mat-dialog-actions>
</section>
<section class="dialog-content">
    <form [formGroup]="createCategoryForm">
        <div class="row-name-acc" fxLayout="row" fxLayoutAlign="space-between start">
            <h3>Tên</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <input 
                formControlName="nameCategory"
                type="text" 
                matInput 
                placeholder="Tên danh mục">
                <mat-error *ngIf="createCategoryForm.get('nameCategory')?.hasError('required') && createCategoryForm.get('nameCategory')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>

        <div class="row-name-acc" fxLayout="row" fxLayoutAlign="space-between start">
            <h3>Miêu tả</h3>
            <mat-form-field fxFlex="80" appearance="outline">
                <textarea formControlName="description" type="text" matInput placeholder="Mô tả cho danh mục"></textarea>
                <mat-error *ngIf="createCategoryForm.get('description')?.hasError('required') && createCategoryForm.get('description')?.touched">Đây là trường bắt buộc</mat-error>
            </mat-form-field>
        </div>
        

        <div fxLayout="row" fxLayoutAlign="end center">
            <button (click)="onCancel()" mat-button class="btn-cancel">
                <span>Huỷ</span>
            </button>
            <button 
            [disabled]="createCategoryForm.invalid"
            [mat-dialog-close]="createCategoryForm.value"
            type="submit" 
            mat-button 
            class="codex-btn-primary btn-big btn-add-category">
                <span>Tạo danh mục</span>
            </button>
        </div>
    </form>
</section>